.hashtags {
	padding: 50px 0;
	text-align: center;
	background-color: $old-pink-2;
	margin-bottom: 30px;
	li {
		display: inline-block;
	}
	a {
		display: block;
		text-decoration: none;
		margin: 0 15px 15px 0;
		padding: 5px 15px;
		font-size: 20px;
		color: $pink-2;
		border: solid 3px $white;
		@include raleway(700);
		&:hover {
			background-color: $white;
		}
		@include s {
			font-size: 16px;
		}
	}
	.button-container {
        text-align: center;
        display: block;
        p {
            color: $pink;
            font-size: 14px;
            @include raleway;
        }
    }
    .read-more {
    	padding: 0;
        border: solid 3px $pink;
        color: $pink;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: 40px;
        line-height: 47px;
        cursor: pointer;
        &:hover {
            background-color: $pink;
            color: $grey-light;
        }
    }
    /* Hang */
    @-webkit-keyframes hvr-hang {
      0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }

      50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }

      100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
    }

    @keyframes hvr-hang {
      0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }

      50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }

      100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
    }

    @-webkit-keyframes hvr-hang-sink {
      100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
    }

    @keyframes hvr-hang-sink {
      100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
      }
    }
    .hvr-hang {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }
    .hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
        -webkit-animation-name: hvr-hang-sink, hvr-hang;
        animation-name: hvr-hang-sink, hvr-hang;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
    }
}