// ================================================
// 							PROJECT VARIABLES
// ================================================
$white 		: #FFF;
$black 		: #000;
$selection	: #D8D8D8;
$old-pink	: #F4C3C0;
$grey-light : #ededed;
$grey		: #D8D8D8;
$green		: #C2DED7;
$pink 		: #ff0046;
$water-green: #70C1B3;

$blue-deco	: #303f9f;
$green-deco	: #1ae5c7;

$green-arn	: #45b69c;
$green-light-arn	: #abf3e2;

$blue-dod	: #000094;

$pink-gide 	: #951d81;
$blue-gide	: #049dd9;

$green-galo : #5ebb69;


$blue-2 		: #00214B;
$pink-2			: #FD3854;
$old-pink-3		: #FDE4DD;
$old-pink-2		: #f4f4f4;
$water-green-2  : #3FD6B5;
$yellow-2		: #FFE273;

// ================================================
//							 AUXILIAR VARIABLES
// ================================================

// SOCIAL MEDIA COLORS
$tw         : #55ACEE;  // TWITTER
$fb         : #3B5998;  // FACEBOOK
$gp         : #DD4B39;  // GOOGLE+
$yt         : #FF3333;  // YOUTUBE
$pin        : #CB2027;  // PINTEREST
$ig         : #517fa4;  // INSTAGRAM
$li 		: #007bb6;  // LINKEDIN