h1 { } 
h2 { } 
h3 { } 
h4 { } 
h5 { } 
h6 { } 
blockquote {
	p { 
		font-style: italic;
		&:before, &:after {
			content: '\201C';
			position: relative;
		}
	}
}
a { }
b, strong { }
hr { }
::-moz-selection {
	background: $selection;
	text-shadow: none;
}

::selection {
	background: $selection;
	text-shadow: none;
}
